glob:check.exe
glob:gen*.exe
glob:sol*.exe
glob:2010-nov/s6/problems/a1/??
glob:*.u
glob:*.in
glob:*.out
glob:*.log
glob:*.tmp
glob:*.4ct
glob:*.4tc
glob:2010-summer/s2/theorlist/*.css
glob:*.dvi
glob:2010-summer/s2/theorlist/list.html
glob:*.idv
glob:*.lg
glob:2010-summer/s2/theorlist/*.odt
glob:2010-summer/s2/theorlist/*.ps
glob:*.xref
glob:mon.aux
glob:dist/plastex/utf8/*
glob:dist/plastex/utf8.aux
glob:dist/plastex/utf8.paux
glob:dist/plastex/utf8.pdf
glob:*.aux
syntax: glob
Thumbs.db
glob:dist/python/_notes/*
glob:*.zip
glob:*.identcache
*.log
*.u